.my-content-gradient {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,7db9e8+100 */
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(45deg, #1e5799 0%, #2989d8 50%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #1e5799 0%,#2989d8 50%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #1e5799 0%,#2989d8 50%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

html {
    font-family: 'Exo 2', sans-serif;
}

.box-stats {
    text-align: center;
}

.box-stats .value {
    font-size: 1.3rem;
}

.box-stats .description {
    font-size: .8rem;
}

.padding-4 {
    padding: 4% !important;
}
.company-header {
    font-size: 16px;
}
header, main, footer {
    padding-left: 300px;
}
.myactive {
    background-color: rgba(126, 126, 100, 0.2);
    border-left: 4px solid yellow;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

.box {
    box-sizing: border-box;
    text-align: center;
    /* border-top: .5px solid; */
    padding-top: 10px;
    display: inline-block;
}
.box-simple {
    width: 60px;
    height: 60px;
}
.box-date {
    width: 115px;
    height: 60px;
}
.box span {
    display: block;
}
.value {
    font-weight: 600;
}
.value-simple {
    font-size: 18px;
}
.value-date {
    font-size: 15px;
}
.description {
    font-size: 11px;
}

.book-row {
    margin: 0px;
    padding: 1px;
}
.sis-row {
  margin-bottom: 0px;
}

.vertical-align-middle {
    vertical-align: middle;
}

.padding-bottom-3 {
    padding-bottom: 3px;
}
