html {
    /*font-family: 'Exo 2', sans-serif;*/
    font-family: 'Roboto 2', sans-serif;
}

header, main, footer, .search-prod {
  padding-left: 250px;
  margin-bottom: 0px;
}
.sislis-aside {
  width: 250px;
}
.contenido {
  padding-top: 0px;
  padding-left: 260px;
}

@media only screen and (max-width : 992px) {
  header, main, footer, .search-prod .contenido {
    padding-left: 0;
  }
}
.row-b0 {
    margin-bottom: 0;
}

.mycopy {
    font-size: 75%;
}
.btn-clipboard {
  padding: .15rem .25rem;
  margin: 1px;
  font-size: 75%;
  cursor: pointer;
  border: 0;
  border-radius: .25rem;
}

.mymarked strong {
    font-weight: 700;
}

/* TABS */
.tabs .tab a {
  color: black;
}
.tabs .tab a.active {
  color: #0288d1;
}
.tabs .tab a:hover {
  color: #0288d1;
}
.tabs .tab a:focus {
  background-color: #0288d1;
}
.tabs .tab a:focus.active {
  background-color: rgba(2, 136, 209, 0.1);
}
.tabs .indicator {
  background-color: #0288d1;
}

.box-stats {
    text-align: center;
}

.box-stats .value {
    font-size: 1.3rem;
    font-weight: 600;
}

.box-stats .description {
    font-size: .8rem;
}

.card-panel .header-box {
    font-size: 1.5rem;
}

.card-mini {
    margin-bottom: 0px;
    padding: 12px;
}

/* Work */
.card-border-5 {
    border: 2px solid #0097a7;
    border-radius: 20px;
}
.row-rst, .col-rst, .card-content-5, .card-btn {
    padding: 5px !important;
}
.card-btn {
    margin: 5px !important;
}
.header-with-item {
    padding: 5px 10px;
    border-bottom: 1px solid #0097a7;
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: uppercase;
}
.list-customer {
    padding: 10px;
    margin: 0px;
}
.scroll-list {
    max-height: 250px;
    overflow-y: scroll;
}
.list-customer > li {
    padding-left: 10px;
}
.add-m-10 > li {
    margin: 10px;
}
.list-customer > li.sep {
    border-bottom: 1px solid #bdbdbd;
}
.subtitle {
    font-size: .8rem;
    color: teal;
}

/* Targetas de productor info basic */
.info-card {
    border: 2px solid #00B7B7;
    border-radius: 15px;
    margin-bottom: 10px;
}
.info-card > .info-title {
    font-size: 1.5rem;
    padding: 8px 8px 8px 12px;
    border-bottom: 1.2px solid #00B7B7;
}
.info-matricula {
    font-size: 1.3rem;
}
.info-list {
    font-size: 1.2rem;
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.info-list-item {
    padding: 5px;
    border-bottom: .5px solid #d5d5d5;
}
.info-list-item > span {
    font-size: .8rem;
    color: teal;
}
.info-footer {
    padding: 8px;
}
.info-names {
    font-size: 1.6rem;
    text-align:center;
    color: #6e6e6e;
}
.info-image {
    text-align:center;
    color: teal;
}
.info-image > i {
    font-size: 4rem;
}
/* Caja con un lementa arriba y otro abajo centrado */
.vertical-info-box {
    margin: 5px;
    text-align:center;
}
.vertical-info-box .box-name {
    font-size: .8rem;
}
.vertical-info-box .box-value {
    font-size: 1.5rem;
    font-weight: bold;
}
.rst {
    padding: 0px !important;
    margin: 0px !important;
}
/* Tarjeta personalizada de Cuentas*/
.payment-info-list, .companies-list {
    margin: 0;
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.payment-info-list li, .companies-list li {
    padding: 5px;
}
.payment-info-list li span, .companies-list li span {
    float: right;
}
/* Tarjeta de info basic Companias */
.companies-list {
    max-height: 300px;
    overflow-y: scroll;
}
