.card-border-5 {
    border: 2px solid #0097a7;
    border-radius: 20px;
}
.row-rst, .col-rst, .card-content-5, .card-btn {
    padding: 5px !important;
}
.card-btn {
    margin: 5px !important;
}
.header-with-item {
    padding: 5px 10px;
    border-bottom: 1px solid #0097a7;
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: uppercase;
}
.list-customer {
    padding: 10px;
    margin: 0px;
    max-height: 250px;
    overflow-y: scroll;
}
.list-customer > li {
    padding-left: 10px;
}
.list-customer > li.sep {
    border-bottom: 1px solid grey;
}
