body {
    font-family: "Exo 2";
}
/* Sidebar */
#sidebar-wrapper {
    z-index: 1;
    position: absolute;
    width: 0;
    height: 100%;
    overflow-y: hidden;
    margin-top: 56px;
    transition: all .3s linear 0s;
}

#page-content-wrapper {
    margin-top: 56px;
    width: 100%;
    position: absolute;
    padding: 15px;
    transition: all .3s ease-in-out 0s;
}

.border-box {
    border: solid 1px #00b0ff;
}

.bg-linkedin {
    background: #f5f5f5;
}

#menu-toggle {
    cursor: pointer;
}

.list-group > a {
    text-decoration: none;
}

.list-group > a.active {
    background: #e3f2fd;
    border-left: solid 6px #007bff;
}

.list-group > a:hover {
    background: #e1f5fe;
}

.i-align-center{
    vertical-align: bottom;
    padding-right: 10px;
    color: rgba(0, 0, 0, 0.540);
}

.copa-nav {
    border-bottom: solid 1px darkgrey;
}

.menuDisplayed #sidebar-wrapper {
    width: 250px;
    position: fixed;
}

.menuDisplayed #page-content-wrapper {
    padding-left: 250px;
}

.sidebar-nav {
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #ddd
}

.sidebar-nav li a:hover {
    background: #16A085;
}
